# Exercises for Lecture 2 (Data wrangling with Pandas)

In [1]:
import datetime
now = datetime.datetime.now()
print("Last executed: " + now.strftime("%Y-%m-%d %H:%M:%S"))

Last executed: 2024-01-29 18:06:56

In [2]:
import pandas as pd
import numpy as np

## Exercise 1: Data selection

In [3]:
area = pd.Series({'California': 423967, 'Texas': 695662,
                  'New York': 141297, 'Florida': 170312,
                  'Illinois': 149995})
pop = pd.Series({'California': 38332521, 'Texas': 26448193,
                 'New York': 19651127, 'Florida': 19552860,
                 'Illinois': 12882135})
data = pd.DataFrame({'area':area, 'population':pop})
filtered_df = data.query("area >= 150000 and population >= 20e6")
filtered_df

              area  population
California  423967    38332521
Texas       695662    26448193

Create a `DataFrame` containing only those states that have an area greater than 150,000 and a population greater than 20 million.

## Exercise 2: Operating on data in Pandas
Consider the following two series.

In [9]:
area = pd.Series({'Alaska': 1723337, 'Texas': 695662,
                  'California': 423967}, name='area')
population = pd.Series({'California': 38332521, 'Texas': 26448193,
                        'New York': 19651127}, name='population') 

density = population.div(area).dropna()

density

California    90.413926
Texas         38.018740
dtype: float64

Compute the population density for each state (where possible).

## Exercise 3: Detecting null values

Consider the following series.

In [26]:
data = pd.Series([1, np.nan, 'hello', np.nan])
data

data_bool = data.notnull()

data_noNan = data.loc[data_bool]

display(data, data_bool, data_noNan)

0        1
1      NaN
2    hello
3      NaN
dtype: object

0     True
1    False
2     True
3    False
dtype: bool

0        1
2    hello
dtype: object

Compute a new Series of bools that specify whether each entry in the above Series is *not* NaN.  Using this Series, construct a new series from the original data that does not contain the NaN entries.

### Exercise 4: Remove null values directly

Remove null values from the previous data `Series` directly.

In [15]:
data.dropna()

0        1
2    hello
dtype: object